- var aut = "anonymous"
- var useMeta = true
case author
    when "GIL"
        - aut = site.authors.GIL
    when "JDM"
        - aut = site.authors.JDM
    when "JC"
        - aut = site.authors.JC
    default
        - useMeta = false
if useMeta
    a(href=aut.URL target="_blank")
        p #{aut.name}
else
    p #{author}