doctype html
html
    include partials/head.jade
    body
        include partials/header.jade
        .contain
            .twelve.col
            .eight.col
                include partials/articles.jade
                    hr
            .four.col
                include partials/sidenav.jade
            .twelve.col
                include partials/footer.jade
