doctype html
html
    include partials/head.jade
    body
        .contain
            .twelve.col
                include partials/header.jade
            .eight.col
                include partials/articles.jade
                    hr
            .four.col
                include partials/nav.jade
            .twelve.col
                include partials/footer.jade
